<div class="donation  hidden-xs">

    <div class="donation__left">
        <h1 class="donation__title">Help us with a donation</h1>

        <p class="donation__text">Cowichan Search & Rescue depends on donations from government, corporations and members of the community. Without the support of the community Cowichan Search & Rescue would not be able to provide this essential and life saving service.</p>
    </div><!--

 --><div class="donation__right">
        <button class="donation__button  button  button--paypal  button">Donate with <span class="paypal--dark">Pay</span><span class="paypal--light">Pal</span></button>
    </div>

</div>