<nav class="site-nav"
     id="js-site-nav">
    <ul class="site-nav__list">
        <li class="site-nav__item  site-nav__item--active">
            <a class="site-nav__link"
               href="#">About Cowichan SAR</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Our Skills</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Public Education</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Fundraising</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Donatations</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Join Us</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Contact Cowichan SAR</a></li>
        <li class="site-nav__item  site-nav__item--facebook">
            <a class="site-nav__link"
               href="#"><i></i><span> Find us on Facebook</span></a></li>
        <li class="site-nav__item  site-nav__item--twitter">
            <a class="site-nav__link"
               href="#"><i></i><span> Follow us on Twitter</span></a></li>
    </ul>
</nav>