<nav class="site-nav">
    <ul class="site-nav__list">
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">About Cowichan SAR</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Our Skills</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Public Education</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Fundraising</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Donate to Cowichan SAR</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Join Us</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Contact Cowichan SAR</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Find us on Facebook</a></li>
        <li class="site-nav__item">
            <a class="site-nav__link"
               href="#">Follow us on Twitter</a></li>
    </ul>
</nav>