<footer class="site-foot">
    <div class="contact-info">
        <ul class="contact-info__list">
            <li class="contact-info__item  contact-info__address"><i></i>PO Box 1034 Duncan, BC  X1X 1X1</li>
            <li class="contact-info__item  contact-info__email"><i></i><a href="mailto:info@cowichansar.org">info@cowichansar.org</a></li>
            <li class="contact-info__item  contact-info__telephone"><i></i>1 (555) 555-5555</li>
            <li class="contact-info__item  contact-info__twitter"><i></i><a href="//twitter.com/@cowichansar">@cowichansar</a></li>
            <li class="contact-info__item  contact-info__facebook"><i></i><a href="//www.facebook.com/CowichanSaR">Find us on Facebook</a></li>
        </ul>
    </div><!--


 --><div class="twitter-feed">
        Twitter Feed
    </div><!--


 --><div class="site-copyright">
        <span>© 2014 Cowichan Search &amp; Rescue</span>
    </div>
</footer>
