.donation {
    @extend .hidden-xs;
    @extend %grid;

    background-color: $color--primary-dark;
    color: $color--inverse-text;
    padding: $gutter--normal $gutter--normal;
    margin-bottom: $gutter--normal;
    position: relative;

    @include media-query($medium, min, width, screen) {
        padding-left: $gutter--normal;
        padding-right: $gutter--normal;
    }
}

    .donation h1 {
        margin-bottom: $gutter--skinny;
        margin-top: 0;
    }

    .donation p {
        margin: 0;
    }

    .donation__button {

    }

    .donation__left {
        @extend %grid__item;
        @extend %medium--four-fifths;
        @extend %large--five-sixths;
    }

    .donation__right {
        @extend %grid__item;
        @extend %medium--one-fifth;
        @extend %large--one-sixth;

        position: absolute;
        top: 50%;

        @include transform3d(0,-50%,0);
    }