.donation {
    @extend .hidden-xs;

    display: table;
    background-color: $color--primary-dark;
    color: $color--inverse-text;
    margin-bottom: $gutter--normal;
}

    .donation__left,
    .donation__right {
        display: table-cell;
        padding: $gutter--normal;
        vertical-align: middle;
    }

        .donation__left {
            padding-right: $gutter--narrow;
        }

        .donation__right {
            padding-left: $gutter--narrow;
        }

        .donation p {
            margin: 0;
        }

        .donation h1 {
            margin-bottom: $gutter--skinny;
            margin-top: 0;
        }

