
.education,
.education__sub-grid {
    @extend %grid;

    padding: 0 $gutter--narrow;
}

.education__sub-grid {
    padding-left: 0;
    padding-right: 0;
}

    .education__item,
    .education__sub-item {
        @extend %grid__item;
        @extend %small--one-whole;

        text-align: center;
        position: relative;
    }

    .education__item:nth-of-type(1),
    .education__item:nth-of-type(2) {
        @extend .hidden-xs;
        @extend %medium--one-half;
    }

    .education__sub-item {
        text-align: center;

        @include media-query($medium, min, width, screen) {
            text-align: right;
        }

        h1 {
            text-align: left;
        }

        p {
            @include media-query($medium, min, width, screen) {
                text-align: left;
            }
        }
    }

        .education__sub-item:nth-of-type(1) {
            @include media-query($medium - 1, max, width, screen) {
                padding-top: 100px;
            }
        }

        .education__item h1 {
            @include media-query($medium, min, width, screen) {
                @include text-hide();
            }
        }
        .education__button {
            @extend %small--one-whole;
        }

        .education__icon {
            max-width: 100%;
            max-height: 100px;
        }




