.site-foot {
    @extend %grid;

    background-color: $color--primary;
    margin-top: $gutter--normal;
    color: $color--inverse-text;
}

    .contact-info {
        @extend %grid__item;
        @extend %one-whole;

        text-align: center;
    }

        .contact-info__list {
            @extend %grid;

            padding: 0 $gutter--narrow;
        }

            .contact-info__item {
                @extend %grid__item;
                @extend %small--one-whole;
                @extend %medium--one-half;
                @extend %large--one-quarter;

                font-size: $font-size--big;
                margin: 10px 0;
                display: inline-block;
            }

                .contact-info__address i {
                    @extend .fa;
                    @extend .fa-map-marker;

                    margin-right: $gutter--skinny;
                }
                .contact-info__email i {
                    @extend .fa;
                    @extend .fa-envelope;

                    margin-right: $gutter--skinny;
                }
                .contact-info__telephone i {
                    @extend .fa;
                    @extend .fa-phone;

                    margin-right: $gutter--skinny;
                }
                .contact-info__twitter i {
                    @extend .fa;
                    @extend .fa-twitter;

                    margin-right: $gutter--skinny;
                }
                .contact-info__facebook i {
                    @extend .fa;
                    @extend .fa-facebook;

                    margin-right: $gutter--skinny;
                }

                a {
                    color: $color--inverse-text;
                    text-decoration: none;
                }

    .site-copyright {
        @extend %grid__item;
        @extend %one-whole;
        background-color: $color--primary-dark;
        padding: $padding--vertical;
        text-align: center;
        color: $color--primary;
    }

    .twitter-feed {
        @extend .hidden-xs;
    }