.site-foot {
    @extend %grid;
    background-color: $color--primary;
    margin-top: $gutter--normal;
    color: $color--inverse-text;
}

    .contact-info {
        @extend %grid__item;
    }

        .contact-info__list {
            @extend .fa-ul;
            padding: 0 $gutter--narrow;
        }

            .contact-info__item {
                font-size: $font-size--big;
                margin: 10px 0;
            }

                i {
                    @extend .fa-li;
                    @extend .fa;

                    .contact-info__address & {
                        @extend .fa-map-marker;
                    }
                    .contact-info__email & {
                        @extend .fa-envelope;
                    }
                    .contact-info__telephone & {
                        @extend .fa-phone;
                    }
                    .contact-info__twitter & {
                        @extend .fa-twitter;
                    }
                    .contact-info__facebook & {
                        @extend .fa-facebook;
                    }
                }

                a {
                    color: $color--inverse-text;
                    text-decoration: none;
                }

    .site-copyright {
        @extend %grid__item;
        @extend %one-whole;
        background-color: $color--primary-dark;
        padding: $padding--vertical;
        text-align: center;
        color: $color--primary;
    }

    .twitter-feed {
        @extend .hidden-xs;
    }