.site-head {
    margin-bottom: $gutter--normal;

    @include media-query($medium, min, width, screen) {
        position: relative;
        margin-bottom: 0;
    }

    .site-head__bg {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;

        @include media-query($medium, min, width, screen) {
            height: 350px;
        }

        @include media-query($large, min, width, screen) {
            height: 500px;
        }
    }

        .header1 { background-image: url(/assets/images/header1.jpg); }
        .header2 { background-image: url(/assets/images/header2.jpg); }
        .header3 { background-image: url(/assets/images/header3.jpg); }
        .header4 { background-image: url(/assets/images/header4.jpg); }
        .header5 { background-image: url(/assets/images/header5.jpg); }
        .header6 { background-image: url(/assets/images/header6.jpg); }


    .site-logo {
        width: 141px;
        height: 184px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -92px;

        @include media-query($medium, min, width, screen) {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -70.5px;
            margin-top: -92px;
        }
    }

        .site-logo__img {}

    .site-name {
        @include text-hide();
    }

    .site-tagline {
        font-size: $font-size--big;
        text-align: center;
        color: $color--primary-light;
        width: 80%;
        max-width: 480px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include media-query($medium, min, width, screen) {
            position: absolute;
            bottom: 5%;
            left: 50%;
            color: $color--inverse-text;
            font-family: $font--serif;
            font-style: italic;
            text-shadow: 0 1px 5px rgba(0,0,0,0.5);
            @include transform3d(-50%,0,0);
        }

        @include media-query($large, min, width, screen) {
        }
    }
}