.site-foot {
    @extend %grid;
    background-color: $color--primary;
    margin-top: $gutter--normal;
    color: $color--inverse-text;
}

    .contact-info {
        @extend %grid__item;
        @extend %one-whole;

        text-align: center;
    }

        .contact-info__list {
            @extend .fa-ul;
            padding: 0 $gutter--narrow;
        }

            .contact-info__item {
                font-size: $font-size--big;
                margin: 10px 0;
                display: inline-block;
                margin-left: $gutter--normal * 2;
            }

                .contact-info__address i {
                    @extend .fa-li;
                    @extend .fa;
                    @extend .fa-map-marker;
                }
                .contact-info__email i {
                    @extend .fa-li;
                    @extend .fa;
                    @extend .fa-envelope;
                }
                .contact-info__telephone i {
                    @extend .fa-li;
                    @extend .fa;
                    @extend .fa-phone;
                }
                .contact-info__twitter i {
                    @extend .fa-li;
                    @extend .fa;
                    @extend .fa-twitter;
                }
                .contact-info__facebook i {
                    @extend .fa-li;
                    @extend .fa;
                    @extend .fa-facebook;
                }

                a {
                    color: $color--inverse-text;
                    text-decoration: none;
                }

    .site-copyright {
        @extend %grid__item;
        @extend %one-whole;
        background-color: $color--primary-dark;
        padding: $padding--vertical;
        text-align: center;
        color: $color--primary;
    }

    .twitter-feed {
        @extend .hidden-xs;
    }